.home-page {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page__content {
  text-align: center;
}

.home-page__title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}
.home-page__description {
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
  max-width: 600px;
}
.home-page__description2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 600px;
}

.home-page__author {
  color: #bbb;
  font-size: 14px;
}
